.row
  .col-xs-12.page-title
    h2 Sites

.row
  - if @sites.any?
    - @sites.each do |site|
      = render partial: 'shared/item_box',
        locals: {name: site.name,
        link: site_editable_region_index_path(site.id),
        button_text: 'Edit'}

  .col-sm-3.item-box.item-box-link
    .item-name
      strong Create a new site
    = link_to 'New Site', new_site_path, class: 'btn btn-primary'

= render partial: 'shared/track_event', locals: {event: 'Viewed Dashboard'}
