.row
  .col-sm-6.col-sm-offset-3.text-center
    h2 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        br
        = f.email_field :email, autofocus: true, class: 'form-control input-block'
      .field
        = f.label :password
        - if @minimum_password_length
          em
            | (
            = @minimum_password_length
            |  characters minimum)
        br
        = f.password_field :password, autocomplete: "off", class: 'form-control input-block'
      .form-group
        = f.label :password_confirmation
        br
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control input-block'
      .form-group
        = f.submit "Sign up", class: 'btn btn-primary btn-block'
    = render "devise/shared/links"
