.row
  .col-xs-12
    nav.navbar.navbar-transparent.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"
            span.sr-only
              | Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          = link_to(image_tag('logo-trans-2x-white'), root_path, class: 'navbar-brand')

        #navbar.collapse.navbar-collapse.pull-right
          ul.nav.navbar-nav
            - if current_user
              li
                = link_to 'Sign Out', destroy_user_session_path, method: :delete
