.row
  .col-xs-12 data-region="region_10"

.spacer
.row
  .col-xs-12 data-region="region_3"


javascript:
  $(document).ready(function() {
    $.get("#{ENV['ROOT_DOMAIN']}/api/v1/version_collections/?regions=10")
      .success(function(data) {
        var regions = $('[data-region]');
        regions.each(function() {
          var region = $(this).data('region');
          if(data[region] && data[region].content) {
            $(this).html(unescape(data[region].content))
          }
        });
      });
  });
