.row
  .col-xs-12.page-title
    h2= "#{@region.site.name}: #{@region.name}"

.row
  .col-xs-12
    = bootstrap_form_tag url: site_editable_region_versions_path, :method => :post do |f|
      = f.text_area :content, hide_label: true, id: 'md-content-area', value: @region.latest_version.content
      = f.submit 'Create Editable Region', class: 'btn btn-primary'

javascript:
  $(document).ready(function() {
    var mde = new SimpleMDE({ element: document.getElementById("md-content-area") });
  });
