.row
  .col-sm-6.col-sm-offset-3.text-center
    h2 Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email
        br
        = f.email_field :email, autofocus: true, class: 'form-control input-block'
      .field
        = f.label :password
        br
        = f.password_field :password, autocomplete: "off", class: 'form-control input-block'
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Log in", class: 'btn btn-primary btn-block'
    = render "devise/shared/links"
