/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'simplemde';
@import 'buttons';

.turbolinks-progress-bar {
  height: 5px;
  background-color: $primary;
}

body {
  padding-top: 90px;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.header-pad {
  margin-top: 20px;
  margin-bottom: 10px;
}

.item-box {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $offwhite;
  text-align: center;
  border-radius: $border-radius-base;
  width: 23%;
  margin: 1%;
  border: 1px solid $offwhite;
}

.item-name {
  font-size: larger;
}

.item-box-link {
  background-color: $white;
  border: 1px dashed $medium;
}

.page-title {
  border-bottom: 2px solid $offwhite;
  padding-bottom: 10px;
  margin-bottom: 10px;
  h1,
  h2,
  h3 {
    padding-bottom: 0;
  }
}

.inline {
  display: inline-block;
}

.url {
  color: $medium;
  font-size: 100%;
}

.modal {
  margin: 200px auto;
  height: auto;
}
