@import 'variables';

.navbar-transparent {
  background-color: $dark;
  color: $light;
  border: 0;
  padding: 15px 0;

  a {
    color: $light;
    text-transform: uppercase;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;

    &:hover,
    &:active {
      color: $primary;
      background-color: transparent !important;
    }
  }

  .navbar-brand {
    padding: 0;
    img {
      height: 50px;
    }
  }

}
