$primary: #FF4D00;
$dark: #1A1A1A;
$medium: #777777;
$light: #EFEFEF;
$white: #FFFFFF;
$offwhite: #FAFAFA;

$brand-primary: $primary;
$font-family-sans-serif: 'Droid Sans', sans-serif;
$border-radius-base: '0';
