.row.page-title
  .col-xs-8
      h2= "#{@site.name}: Regions"
      p.url = @site.url
  .col-xs-4.text-right
    h2
      button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#embed-code-modal"
        | Get Embed Code

.row
  - if @site.regions.any?
      - @site.regions.each do |region|
        = render partial: 'shared/item_box',
          locals: {name: region.name,
          link: new_site_editable_region_version_path(region.site_id, region.id),
          button_text: 'Edit'}

  .col-sm-3.item-box.item-box-link
    .item-name
      strong Create a new region
    = link_to 'New Region', new_site_editable_region_path(@site.id), class: 'btn btn-primary'

= content_for :end_of_body
  .modal.modal-sm.fade#embed-code-modal role="dialog"
    .modal-daialog role="document"
      .modal-content
        .modal-header
          button type="button" class="close" data-dismiss="modal" aria-label="Close"
            span aria-hidden="true" &times;
          h4.modal-title Site Embed Code
        .modal-body
          textarea.disabled.form-control rows="4" readonly="readonly"
            = @site.read_script
