.row
  .col-sm-6
    h2= "#{@region.site.name}: New Region"

.row
  .col-xs-12
    = bootstrap_form_tag url: site_editable_region_index_path, :method => :post do |f|
      = f.text_field :name
      = f.text_area :content, id: 'md-content-area', hide_label: true
      = f.select :region_type, [['Basic', :basic], ['Specific', :specific]]
      = f.submit 'Create Editable Region', class: 'btn btn-primary'

javascript:
  $(document).ready(function() {
    var mde = new SimpleMDE({ element: document.getElementById("md-content-area") });
  });
