.row
  .col-sm-6
    h2= "#{@region.site.name}: #{@region.name}"
    strong Type:
    span= " #{@region.region_type.capitalize}"


- @region.versions.each do |version|
  .row
    .col-xs-12
     = version.html.html_safe
