doctype html
html
  head
    title
      | Flaresync

    link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'
    link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = render partial: 'shared/mixpanel'
    = csrf_meta_tags
  body
    = render partial: 'shared/header'
    .container
      = flash_messages
      = yield

    = yield :end_of_body
